<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dgk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".klibrary.main.app.KApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main子模块 -->
        <activity android:name=".klibrary.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Demo子模块 -->
        <activity android:name=".klibrary.demo.DemoActivity" />
        <activity android:name=".klibrary.demo.TestActivity" />
        <activity android:name=".klibrary.demo.rxjava.RxJavaActivity" />
        <activity android:name=".klibrary.demo.performance.NetworkActivity" />
        <activity android:name=".klibrary.demo.service.ServiceActivity" />
        <activity android:name=".klibrary.demo.view.DialogActivity" />

        <service android:name=".klibrary.demo.service.Service01" />

        <activity android:name=".klibrary.demo.design.DesignActivity" />
        <activity android:name=".klibrary.demo.design.component.BottomSheetActivity" />
        <activity android:name=".klibrary.demo.design.component.ButtonActivity" />
        <activity android:name=".klibrary.demo.design.component.CardActivity" />
        <activity android:name=".klibrary.demo.other.TimerActivity" />

        <receiver android:name=".klibrary.demo.other.TimerActivity$TimerBroadcastReceiver">
            <intent-filter>
                <action android:name="com.dgk.Timer" />
            </intent-filter>
        </receiver>

        <!-- Imitation子模块 -->
        <activity android:name=".klibrary.imitation.ImitationActivity" />

        <!-- Note子模块 -->

        <activity android:name=".klibrary.demo.rxjava.RxBus1Activity"></activity>
    </application>

</manifest>